.Jurnal{
    margin: 0 auto !important;
    padding: 0 !important;
    max-width: 750px !important;
    background: #4682b4 !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sub-btn button{
    background-color: white;
}

.Jurnal input{
    background: white !important;
    color: black !important;
}

.Jurnal label{
    font-size: medium;
}

.Jurnal input[type="date"]{
    color: black !important;
    letter-spacing: 0;
    padding: 3;
    font-size: medium;
}

::-webkit-calendar-picker-indicator {
    filter: none;
}